    ﻿<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon"  href="img/favicon.ico"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
    <div class="container">

        <div class="page-header text-center">
            <h1><span class="fa fa-film"></span> Profile Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            <a href="/rates.html" class="btn btn-default btn-sm">Back to rates</a>
        </div>

        <div class="row">

            <!-- LOCAL INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-user"></span> Local</h3>

                    <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                    <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                    <% } %>

                </div>
            </div>

            <!-- FACEBOOK INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                    <!-- check if the user has this token (is the user authenticated with this social account) -->
                    <% if (user.facebook.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.facebook.id %><br>
                        <strong>token</strong>: <%= user.facebook.token %><br>
                        <strong>email</strong>: <%= user.facebook.email %><br>
                        <strong>name</strong>: <%= user.facebook.name %><br>
                    </p>

                    <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                    <% } else { %>
                    <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                    <% } %>

                </div>
            </div>
        </div>

        <div class="row">

            <!-- VK INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3 class="text-info"><span class="fa fa-vkontakte"></span> VK</h3>

                    <!-- check if the user has this token (is the user authenticated with this social account) -->
                    <% if (user.vk.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.vk.id %><br>
                        <strong>token</strong>: <%= user.vk.token %><br>
                        <strong>display name</strong>: <%= user.vk.name %><br>
                        <strong>url</strong>: <%= user.vk.email %><br>
                        <strong>photo</strong>: <%= user.vk.photo %>
                    </p>

                    <a href="/unlink/vkontakte" class="btn btn-info">Unlink</a>
                    <% } else { %>
                    <a href="/connect/vkontakte" class="btn btn-info">Connect VK</a>
                    <% } %>

                </div>
            </div>

            <!-- GOOGLE INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                    <!-- check if the user has this token (is the user authenticated with this social account) -->
                    <% if (user.google.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.google.id %><br>
                        <strong>token</strong>: <%= user.google.token %><br>
                        <strong>email</strong>: <%= user.google.email %><br>
                        <strong>name</strong>: <%= user.google.name %><br>
                        <strong>photo</strong>: <%= user.google.photo %>
                    </p>

                    <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                    <% } else { %>
                    <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                    <% } %>

                </div>
            </div>
        </div>

    </div>
</body>
</html>
