nav.navbar{
    border-radius: 0;
}
a{
    cursor: pointer;
}
h3{
    margin-bottom: 40px;
}
.adminButton{
	margin: 10px 10px 10px 0;
	float: right;
}
#unlinkLocal, #connectLocal, #unlinkFB, #connectFB, #unlinkVK, #connectVK, #unlinkGGL, #connectGGL {
	display: none;
}
#userProfileIDWrap{
	margin-left: 2%;
}
#userProfileID{
    width: 215px;
    display: inline-block;
}
.posterAdmin{
	height: 90px;
	width: 70px;
}
#films td{
	vertical-align: middle;
}
#users td{
	vertical-align: middle;
	text-align: center;
}
div.usersContainer, div.filmsContainer{
	display: none;
}
.userInfo{
	padding: 15px;
}
.userInfo img{
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}
#adminProfile{
	display: none;
	padding: 10px 5px;
}
.profileMenuLinks{
	padding: 8px 5px;
}
.td-mid{
    text-align: center;
}
.mostMostMostActiveUsers{
    width: 55px;
    display: inline;
    padding-right: 3px;
}
.hideStat{
    display: none;
}
@media (max-width : 768px) {
    .adminButton{
        float: none;
    }
}
.hideAddFilms{
    display: none;
}
