footer {
    margin: 50px 0;
}
/* No Blue Borders for focused items*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}
h1{
    margin-top: 0px;
}
nav.navbar{
    border-radius: 0;
}
rect{
    cursor: pointer;
}
/* === END === */

/* Film View Template */
.caption {
    height: 130px;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
}
.user-info-no-reccomended{
    margin-top: 50px;
    display: none;
}
.details{
    overflow: hidden;
    display: inline-block;
    height: 40px;
    width: 90%;
}
/* === END === */

/* Users view template */
.userInfo{
	padding: 7px;
}
.userInfo img{
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}
div.similarity{
    width: 15px;
    height: 15px;
    margin-left: calc(50% - 7px);
    border-radius: 50%;
}
.red{
    background-color: #FF0000;
}
.preOrange{
    background-color: #FF5900;
}
.orange{
    background-color: #FF9D00;
}
.yellow{
    background-color: #EEFF00;
}
.prePreGree{
    background-color: #91FF00;
}
.preGreen{
    background-color: #62FF00;
}
.superGreen{
    background-color: #00FF00;
}
span.sim{
    display: inline-block;
}
/* === END === */

/*  IMDB rate  */
.ratings {
    color: #d17581;
    padding-right: 5px;
}

.thumbnail {
    padding: 0;
    height: 100%;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
.filmContainerHeight{
	margin-bottom: 20px;
    height: 560px;
}
.caption>h4{
	width: 70%;
}
.thumbnail>img {
    height:70%;
}
/* === END === */
.good {
    background-color: rgba(0, 255, 0, 0.4);
}
.bad {
    background-color: rgba(255, 0, 0, 0.4);;
}
.aaaaa {
padding: 5px !important;
}
/* Menu inputs and alert*/
#findFilm, #addFilm{
    margin: 4% 2% 0 2%;
    display: inline;
    width: 85%;
}
#hideAlert{
    display: none;
}
#logOutRates{
    margin-top: 1%;
    margin-left: 90%;
}
/* === END === */

/* Sort Type buttons */
.sortType{
    float: right;
}
.sortTypeName{
    width: 45%;
    display: inline-block;
    float: left;
}
/* === END === */

/* === Additional Search Options Field=== */
#submitASP{
    float: right;
    margin-top: 40px;
}
#additionalSearchParam{
    border: 1px solid #ddd;
    padding: 10px 20px;
    overflow: hidden;
}
input[type="radio"], label{
    cursor: pointer;
}
#byTime, #byRate, #byYear, .details, .star{
    cursor: pointer;
}
#slider1, #slider2{
    margin-top: 10px;
}
/* === END === */

/* Bootstrap Modal Window (Details About Film) */
.modal-body{
    height: 500px;
    overflow-y: scroll !important;
    overflow-y: auto;
}
#ratesTempl{
    border-top: 1px solid #D6D5D5;
    border-bottom: 1px solid #D6D5D5;
    padding: 10px 0 10px 0;
    height: 70px;
}
#plotStars{
    list-style-type: none;
    height: 20px;
    cursor: pointer;
    float: left;
    transform:rotate(180deg);
}
#filmTemplatePlotStars{
    list-style-type: none;
    transform:rotate(180deg);
    height: 20px;
    padding: 0px;
    margin-right: 20px;
    float: right;
}
#filmTemplatePlotStars li{
    height: 15px;
    width: 21px;
    margin: 3px 0px 5px 0;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}
#ratedTemplText{
    float: left;
}
.star, .filledStar, .emptyStar{
    height: 25px;
    width: 25px;
    margin: 0px 7px 5px 0;
    float: left;
    background-image: url('img/emptyStar.png');
    background-size: 25px 25px;
    transform:rotate(180deg);
}
.filledStar{
    background-image: url('img/filledStar.png');
}
ul > .star:hover,
ul > .star:hover ~ li {
    background-image: url('img/filledStar.png');
}
#filmDescripton{
    text-indent: 1.5em;
    text-align: justify;
    font-size: 1.3em;
}
.list-group-item{
    overflow: hidden;
}
/* === END === */
@media (min-width : 992px) and (max-width : 1200px)  {
    .sortTypeName {
        width: 100%;
        display: inline-block;
        clear: both;
    }
    .details {
        width: 80%;
    }
}
@media (min-width : 768px) and (max-width : 992px)  {
    #clearfix{
        clear: left;
    }
    .container{
        width: 95%;
    }
    .details{
        width: 80%;
    }
}
@media (max-width : 768px) {
    div.filmContainer div{
        width: 250px;
        clear: both;
        margin-left: calc(50% - 125px);
    }
    #logOutRates{
        margin-left: 0;
        margin-bottom: 20px;
    }
    .details{
        width: 65%;
    }
}
